<h1> <%= @article.title %> </h1>

<p>Status: <%= @article.status %> </p>
<p>Articulo perteneciente al usuario: <%= @article.admin.name%></p> 
<div>
	<span>Contenido: <%= @article.content %></span> 
</div>

<div>
	<%= link_to 'Eliminar Articulo', @article, method: :delete %>
</div>