<h1>Photos#new</h1>

<%= form_with url: "./new", method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>

<div margin: 2em;>
    <%= form.check_box :pet_dog %>
    <%= form.label :pet_dog, "I own a dog" %>
    <%= form.check_box :pet_cat %>
    <%= form.label :pet_cat, "I own a cat" %>
</div>
<% end %>


<%=form_with(model: @photo, local: true ) do |f| %>
    <%=  f.label :name %>
    <p><%= f.text_field :name %> </p>
    <%= f.label :code %>
    <p> <%= f.text_field :code %> </p>

    <%= f.submit %>
<% end %>
