<h1>Nombre de la foto: <%= @photo.name %> </h1>

<h3>Codigo: <%= @photo.code %></h3>

<%= link_to 'Eliminar', @photo, method: :delete %> |

<%= link_to 'Editar foto', edit_photo_path(@photo) %> |
<%= link_to 'Atras', photos_path %>
